
.bookCardListsContainer {
    width: 79%;
    height: auto;

    /* background-color: rgb(244, 238, 238); */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-wrap: wrap;
    gap: 70px;

    margin-left: auto; 
    margin-right: auto;

    justify-content: center;
    align-items: center;

    padding: 5% 5% 5% 5%;
    /* border-radius: 10px; */
    /* border: 1px solid rgb(70, 19, 19); */
}